<div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="20px">
  <div fxFlex="50%">
    <form [formGroup]="locationForm">
      <mat-card class="location-details-card">
        <mat-card-content>
          <h2 class="location-details-title">Location</h2>

          <div fxLayout="column" fxLayout.sm="column" fxLayout.xs="column">

            <mat-form-field class="location-details-field">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
          
            <mat-form-field class="location-details-field">
              <mat-label>Description</mat-label>
              <textarea matInput placeholder="Description" formControlName="description"></textarea>
            </mat-form-field>

          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <!-- Additional elements or space here -->
</div>
