table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.add-button {
    margin-bottom: 16px;
    align-self: flex-end;
    margin-left: auto;
}